header {
    display: flex;
}

header div {
    margin: 0 0 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-transform: capitalize;
}

.grocery-list {
    display: flex;
}

.grocery-list input {
    width: 37px;
}

.name {
    width: 250px;
    text-transform: capitalize;
}

.price, .subtotal {
    width: 90px;
}

.quantity {
    width: 144px;
}

.totalCost {
    margin: 1.225em 0 0 20.775em;
    padding: .215em;
    font-size: larger;
    text-decoration: overline;
    text-decoration-color: #777;
}

.edit:hover,
.delete:hover {
    cursor: pointer;
}

.edit,
.editbtn:hover {
    margin-bottom: -5px;;
    color: rgb(62, 62, 189);
}

.edit:hover,
.editbtn:hover {
    color: rgb(105, 105, 228);
}

.delete {
    margin-bottom: 10px;
    color: #da1a1a;
}

.delete:hover {
    color: #bb6161;
}
